@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.today-card {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  background: #0b0f14;
}

/* rotating gradient layer */
.today-card::before {
  content: "";
  position: absolute;
  inset: -2px;
  border-radius: inherit;
    pointer-events: none;
  background: conic-gradient(
    from 0deg,
    transparent,
    #2ED843,
    transparent,
    transparent
  );
  animation: rotateBorder 2s linear infinite;
  z-index: 0;
}

/* inner content layer */
.today-card::after {
  content: "";
    pointer-events: none; 
  position: absolute;
  inset: 2px;
  background: linear-gradient(to bottom, #2a2a2a, #1a1a1a, black);
  border-radius: inherit;
  z-index: 1;
}

/* ensure content sits above */
.today-card > * {
  position: relative;
  z-index: 2;
}

/* glow effect */
.today-card::before {
  filter: blur(4px);
}

/* rotation animation */
@keyframes rotateBorder {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}